@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@500;600;700&display=swap");
/*common styling */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus {
  outline: none !important;
}

html,
body {
  height: 100%;
}

body {
  line-height: 24px;
  visibility: visible;
  color: #5a5a5a;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

p:last-child {
  margin-bottom: 0;
}

a,
button {
  color: inherit;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
}

.btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

a,
button,
img,
input,
span {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

a:focus {
  color: inherit;
  outline: none;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: 400;
  font-family: "Baloo 2", cursive;
}

h1 {
  line-height: 1;
  font-size: 48px;
  font-weight: 700;
}

h2 {
  line-height: 36px;
  font-size: 36px;
}

h3 {
  line-height: 30px;
  font-size: 30px;
}

h4 {
  line-height: 19px;
  font-size: 16px;
  font-weight: 700;
}

h5 {
  line-height: 18px;
  font-size: 14px;
}

h6 {
  line-height: 14px;
  font-size: 12px;
}

/*-----------------Start Header Middle------------------*/
.home_black_version {
  background: #242424;
}

.social-icone ul li {
  display: inline-block;
  margin-left: 5px;
}

.social-icone ul li:first-child {
  margin-left: 0;
}

.social-icone ul li a {
  background: #2f2f2f;
  color: #cccccc;
  display: block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
}

.social-icone ul li a:hover {
  background: #a8741a;
  color: #ffffff;
}

.top_right > ul > li {
  display: inline-block;
  position: relative;
  padding-left: 20px;
  margin-left: 20px;
}

.top_right > ul > li:hover ul.dropdown-currency,
.top_right > ul > li:hover ul.dropdown-languge,
.top_right > ul > li:hover ul.dropdown-links {
  top: 100%;
  opacity: 1;
  visibility: visible;
}

.top_right > ul > li:first-child {
  padding-left: 0;
  margin-left: 0;
}

.top_right > ul > li:before {
  position: absolute;
  content: "";
  width: 1px;
  height: 15px;
  background: #ebebeb;
  top: 50%;
  left: 0px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.top_right > ul > li:first-child:before {
  display: none;
}

.top_right > ul > li > a {
  color: #242424;
  text-transform: capitalize;
  line-height: 26px;
  font-size: 12px;
  cursor: pointer;
  display: block;
  font-weight: 400;
  padding: 9px 0;
}

.top_right > ul > li > a i {
  margin-left: 3px;
  font-size: 10px;
}

.header_black .header_top {
  border-bottom: 1px solid #2d2d2d;
}

.header_black .dropdown-links {
  left: -98%;
}

.header_black .top_right > ul > li:hover ul.dropdown-currency,
.header_black .top_right > ul > lili:hover ul.dropdown-links {
  top: 100%;
  opacity: 1;
  visibility: visible;
}

.header_black .top_right > ul > li > a {
  color: #ffffff;
}

.header_black .top_right > ul > li > a:not([href]), .header_black .top_right > ul > li > a:not([tabindex]) {
  color: #ffffff;
}

.header_black .top_right > ul > li > a:not([href]):hover, .header_black .top_right > ul > li > a:not([tabindex]):hover {
  color: #a8741a;
}

.header_black .top_right > ul > li:before {
  background: #2d2d2d;
}

.dropdown-currency,
.dropdown-languge,
.dropdown-links {
  background: #2f2f2f;
  position: absolute;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  min-width: 200px;
  text-align: center;
  top: 125%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  left: -154%;
  z-index: 9999;
  padding: 0 15px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
}

.dropdown-currency li,
.dropdown-languge li,
.dropdown-links li {
  border-bottom: 1px solid #2d2d2d;
  line-height: 36px;
  padding: 5px 0;
}

.dropdown-currency li:last-child,
.dropdown-languge li:last-child,
.dropdown-links li:last-child {
  border-bottom: 0;
}

.dropdown-currency li a,
.dropdown-languge li a,
.dropdown-links li a {
  text-transform: capitalize;
  display: block;
  font-size: 12px;
  color: #ffffff;
  text-align: center;
}

.dropdown-currency li a:hover,
.dropdown-languge li a:hover,
.dropdown-links li a:hover {
  color: #a8741a;
}

/*-----------------End Header Top------------------*/
/*-----------------Start Header Middle------------------*/
.header_middle {
  padding: 40px 0;
  border-bottom: 1px solid #ebebeb;
}

.home_contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home_contact .contact_box {
  padding-right: 25px;
  margin-right: 25px;
  border-right: 2px solid #cccccc;
}

.logo {
  padding: 0 20px;
}

.middle_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search_btn {
  position: relative;
}

.search_btn:hover .dropdown_search {
  opacity: 1;
  visibility: visible;
  top: 100%;
}

.search_btn a {
  width: 45px;
  height: 45px;
  border-radius: 3px;
  text-align: center;
  line-height: 45px;
  border: 1px solid #2d2d2d;
  color: #ebebeb;
  display: block;
}

.search_btn a:hover {
  color: #a8741a;
}

.dropdown_search {
  position: absolute;
  right: 0;
  opacity: 0;
  visibility: hidden;
  top: 120%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.dropdown_search form {
  position: relative;
  width: 280px;
  border: 1px solid #ebebeb;
  background: #ffffff;
  z-index: 9;
}

.dropdown_search form input {
  border: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 8 67px 0 10px;
  background: inherit;
  font-size: 12px;
  color: #a4a4a4;
}

.dropdown_search form button {
  position: absolute;
  top: 0;
  right: 0;
  background: #ebebeb;
  width: 59px;
  height: 100%;
  border: 0;
  border-left: 1px solid #ddd;
  padding: 0;
  font-size: 20px;
  background: none;
  color: #ffffff;
}

.cart_link {
  margin-left: 25px;
  position: relative;
}

.cart_link span.cart_quantity {
  position: absolute;
  left: -11px;
  width: 20px;
  line-height: 20px;
  text-align: center;
  background: #a8741a;
  color: #ffffff;
  border-radius: 50%;
  top: 12px;
}

.cart_link > a {
  font-size: 14px;
  font-weight: 500;
  text-transform: capitalize;
  color: #212121;
  border: 1px solid #ebebeb;
  padding: 11px 10px 13px 18px;
  line-height: 15px;
  border-radius: 3px;
  display: block;
}

.cart_link > a:hover {
  color: #a8741a;
}

.cart_link > a i.ion-android-cart {
  font-size: 19px;
  margin-right: 10px;
  border-right: 1px solid #ebebeb;
  position: relative;
  top: 3px;
  padding-right: 10px;
}

.cart_link > a i.ion-chevron-down {
  font-size: 17px;
  margin-left: 3px;
}

.mini_cart {
  position: fixed;
  max-width: 355px;
  height: 100%;
  padding: 10px 20px 33px;
  background: #ffffff;
  z-index: 999;
  right: 0;
  top: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: translateX(1000%);
          transform: translateX(1000%);
}

.mini_cart.active {
  -webkit-transform: translateX(1%);
          transform: translateX(1%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.cart_close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid #ebebeb;
  border-bottom: 10px;
}

.cart_text h3 {
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 600;
  margin-bottom: 0;
  color: #ffffff;
}

.mini_cart_close > a {
  font-size: 25px;
  color: #ffffff;
}

.mini_cart_close > a:hover {
  color: #a8741a;
}

.cart_item {
  padding: 20px 0;
  border-bottom: 1px solid #2d2d2d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.cart_img {
  width: 100%;
  margin-right: 10px;
}

.cart_info {
  width: 58%;
}

.cart_info a {
  font-weight: 400;
  color: #ffffff;
  font-size: 14px;
  text-transform: capitalize;
}

.cart_info a:hover {
  color: #a8741a;
}

.cart_info span {
  display: block;
}

.cart_info span.price_cart {
  color: #a8741a;
  font-weight: 500;
}

.cart_info span.cart_quantity {
  color: #a0a0a0;
}

.cart_remove {
  width: 10%;
  text-align: right;
}

.cart_remove a {
  color: #eaeaea;
  font-size: 18px;
}

.cart_remove a:hover {
  color: #a8741a;
}

.cart_total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
}

.cart_total span {
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
}

.mini_cart_footer {
  padding: 0 25px 25px;
  background: #2d2d2d;
}

.cart_button a {
  text-transform: uppercase;
  border-radius: 5px;
  font-weight: 400;
  display: block;
  color: #ffffff;
  background: #2e2e2e;
  text-align: center;
  line-height: 20px;
  margin-bottom: 0;
  padding: 13px 0 11px;
}

.cart_button a:hover {
  color: #a8741a;
}

.cart_button a.active {
  color: #a8741a;
}

.cart_button a.active:hover {
  background: #e9c88f;
  color: #000000;
  font-weight: 600;
}

.cart_button a.view_cart {
  padding: 15px;
}

.header_black .header_middle {
  border-bottom: 1px solid #2d2d2d;
}

.header_black .home_contact {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_black .contact_box {
  margin-left: 15px;
}

.header_black .contact_box p {
  color: #a8741a;
  font-size: 14px;
}

.header_black .search_btn form button {
  position: absolute;
  top: 0;
  right: 10px;
  border: 0;
  background: inherit;
  color: #ffffff;
  font-size: 20px;
  height: 100%;
}

.header_black .search_btn form button:hover {
  color: #a8741a;
}

.header_black .dropdown_search form {
  background: #242424;
  border: 1px solid #2d2d2d;
}

.header_black .wishlist_btn {
  margin-left: 18px;
}

.header_black .wishlist_btn a {
  width: 45px;
  height: 45px;
  border-radius: 3px;
  text-align: center;
  line-height: 45px;
  font-size: 20px;
  border: 1px solid #2d2d2d;
  color: #ffffff;
  display: block;
}

.header_black .wishlist_btn a:hover {
  color: #a8741a;
}

.header_black .cart_link span.cart_quantity {
  background: #a8741a;
}

.header_black .cart_link > a {
  color: #ffffff;
  border: 1px solid #2d2d2d;
}

.header_black .cart_link > a:hover {
  color: #a8741a;
}

.header_black .cart_link > a i.ion-android-cart {
  border-right: 1px solid #2d2d2d;
}

.header_black .cart_link > a i.ion-chevron-down {
  font-size: 17px;
  margin-left: 3px;
}

.header_black .mini_cart {
  background: #242424;
  border: 1px solid #2d2d2d;
}

.header_black .cart_close {
  border: 1px solid #2d2d2d;
}

/*-----------------End Header Middle------------------*/
/*-----------------Start Header Buttom------------------*/
.header_buttom.sticky-header.sticky .main_menu_inner {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header_buttom.sticky-header.sticky .logo_sticky {
  display: block;
}

.header_black .header_buttom {
  border: 1px solid #2d2d2d;
}

.sticky-header.sticky {
  position: fixed;
  z-index: 99;
  width: 100%;
  top: 0;
  background: rgba(225, 225, 225, 0.9);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.11);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.11);
  -webkit-animation-name: fadeDown;
          animation-name: fadeDown;
  -webkit-animation-duration: 900ms;
          animation-duration: 900ms;
  -webkit-animation-timing-function: cubic-bezier(0.2, 1, 0.22, 1);
          animation-timing-function: cubic-bezier(0.2, 1, 0.22, 1);
  -webkit-animation-delay: 0S;
          animation-delay: 0S;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: normal;
          animation-duration: normal;
  -webkit-animation-fill-mode: none;
          animation-fill-mode: none;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

.header_buttom.sticky-header.sticky .main_menu_inner {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header_black .sticky-header.sticky {
  background: rgba(54, 63, 77, 0.9);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.11);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.11);
}

.main_menu_inner {
  text-align: center;
}

.logo_sticky {
  display: none;
  margin-right: 35px;
}

.logo_sticky a img {
  max-width: 120px;
}

.main_menu nav > ul > li {
  display: inline-block;
  position: relative;
}

.main_menu nav > ul > li > ul > li > a {
  color: #808080;
  font-size: 13px;
  text-transform: capitalize;
  line-height: 18px;
  margin-bottom: 15px;
  display: block;
  font-weight: 400;
}

.main_menu nav > ul > li > a i {
  margin-left: 2px;
}

.main_menu nav > ul > li:hover a {
  color: #a8741a;
}

.main_menu nav > ul > li.active > a {
  color: #a8741a;
}

.main_menu nav > ul > li:first-child a {
  padding-left: 0;
}

.main_menu nav > ul > li:last-child a {
  padding-right: 0;
}

.main_menu nav > ul > li ul.sub_menu {
  position: absolute;
  min-width: 200px;
  padding: 30px 25px;
  background: #ffffff;
  border: 1px solid #ebebeb;
  -webkit-transform: perspective(600px) rotateX(-90deg);
          transform: perspective(600px) rotateX(-90deg);
  -webkit-transform-origin: 0 0 0;
          transform-origin: 0 0 0;
  left: 0;
  right: auto;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 9;
  top: 100%;
  text-align: left;
}

.main_menu nav > ul > li ul.sub_menu > li > a {
  font-size: 15px;
}

.main_menu nav > ul > li ul.sub_menu > li:last-child > a {
  margin-bottom: 0;
}

.main_menu nav > ul > li ul.sub_menu > {
  margin-bottom: 0;
}

.main_menu nav > ul > li ul.mega_menu > li {
  width: 33%;
  float: left;
}

.main_menu nav > ul > li ul.mega_menu > li ul li:last-child a {
  margin-bottom: 0;
}

.main_menu nav > ul > li ul.mega_menu > li a {
  text-transform: uppercase;
  color: #242424;
  font-weight: 500;
  margin-bottom: 30px;
}

.main_menu nav > ul > li ul.mega_menu > li a:hover {
  color: #c09578;
}

.main_menu nav > ul > li ul.mega_menu > li ul li a {
  color: #808080;
  font-size: 13px;
  line-height: 18px;
  margin-bottom: 11px;
  display: block;
  text-transform: capitalize;
}

.main_menu nav > ul > li ul.mega_menu > li ul li a:hover {
  color: #c09578;
}

.main_menu nav > ul > li > a {
  display: block;
  padding: 19px 20px;
}

.main_menu nav ul li ul.mega_menu {
  position: absolute;
  min-width: 580px;
  padding: 30px 25px 35px;
  background: #ffffff;
  border: 1px solid #ebebeb;
  -webkit-transform: perspective(600px) rotateX(-90deg);
          transform: perspective(600px) rotateX(-90deg);
  -webkit-transform-origin: 0 0 0;
          transform-origin: 0 0 0;
  left: 0;
  right: auto;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 9;
  top: 100%;
  text-align: left;
}

.main_menu nav ul li:hover .sub_menu,
.main_menu nav ul li:hover .mega_menu {
  opacity: 1;
  visibility: visible;
  -webkit-transform: perspective(600px) rotateX(0deg);
          transform: perspective(600px) rotateX(0deg);
}

.main_menu nav ul li ul li.active a:hover,
.main_menu nav ul li ul li a:hover {
  color: #c09578;
}

.main_menu nav ul li ul.sub_menu.pages {
  left: inherit;
  right: inherit;
}

.ion-chevron-down {
  font-size: 14px;
  padding: 3px;
}

.header_black .main_menu nav > ul > li ul.sub_menu {
  background: #242424;
  border: 1px solid #2d2d2d;
}

.header_black .main_menu nav > ul > li ul.sub_menu li a {
  color: #ffffff;
  font-family: serif;
}

.header_black .main_menu nav > ul > li ul.sub_menu li a:hover {
  color: #a8741a;
}

.header_black .main_menu nav > ul > li ul.mega_menu {
  background: #242424;
  border: 1px solid #2d2d2d;
}

.header_black .main_menu nav > ul > li ul.mega_menu > li > a {
  color: #ffffff;
  font-family: serif;
}

.header_black .main_menu nav > ul > li ul.mega_menu > li > a:hover {
  color: #a8741a;
}

.header_black .main_menu nav > ul > li > a {
  color: #ffffff;
  font-family: "Poppi";
  font-weight: 500;
  text-transform: capitalize;
  font-size: 18px;
}

.header_black .main_menu nav > ul > li.active > a {
  color: #a8741a;
}

.header_black .main_menu nav > ul > li:hover > a {
  color: #a8741a;
}

.header_black .main_menu nav > ul > li ul.mega_menu {
  background: #242424;
  border: 1px solid #2d2d2d;
}

.header_black .main_menu nav > ul > li ul.mega_menu > li > a {
  color: #ffffff;
  font-family: serif;
}

.header_black .main_menu nav > ul > li ul.mega_menu > li > a:hover {
  color: #a8741a;
}

.header_black .main_menu nav > ul > li ul.mega_menu > li ul li a {
  color: #ffffff;
}

.header_black .main_menu nav > ul > li ul.mega_menu > li ul li a:hover {
  color: #a8741a;
}

/*-----------------End Header Buttom------------------*/
/*-----------------Start Slider------------------*/
.single_slider {
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}

.slider_area {
  margin-bottom: 35px;
}

.slider_area .single_slider .row {
  height: 500px;
}

.slider_area .slider_content {
  margin-left: 28px;
  overflow: hidden;
}

.slider_area .slider_content p {
  color: #a8741a;
  font-size: 18px;
  margin-bottom: 0;
  line-height: 22px;
}

.slider_area .slider_content p.slider_price {
  color: #ffffff;
}

.slider_area .slider_content p.slider_price span {
  color: #a8741a;
  margin-bottom: 0;
}

.slider_black .slider_content h1 {
  color: #ffffff;
  font-weight: 400;
  margin-bottom: 10px;
  font-family: "Baloo 2",serif;
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .slider_black .slider_content h1 {
    font-size: 48px;
    line-height: 46px;
    margin-bottom: 8px;
  }
}

.slider_black .slider_content span {
  font-size: 24px;
  color: #cccccc;
  margin-bottom: 35px;
  display: block;
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .slider_black .slider_content span {
    font-size: 18px;
    margin-bottom: 25px;
  }
}

.slider_area.owl-carousel .owl-dots {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

.slider_area.owl-carousel .owl-dots .owl-dot {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  display: inline-block;
  background: #242424;
  margin: 0 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
}

.slider_area.owl-carousel .owl-dots .owl-dot.active {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.slider_area.owl-carousel .owl-dots .owl-dot.active::before {
  position: absolute;
  content: "";
  background: #a8741a;
  width: 13px;
  height: 13px;
  left: -3px;
  top: -3px;
  border-radius: 50%;
}

.slider_black .slider_content a {
  background: #a8741a;
  margin-top: 30px;
}

.slider_black .slider_content a:hover {
  background: #212121;
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .slider_black .slider_content a {
    margin-top: 43px;
  }
}

.active .slider_content > span {
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-name: fadeInLeft;
          animation-name: fadeInLeft;
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.active .slider_content p,
.active .slider_content h1,
.active .slider_content a {
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-name: fadeInLeft;
          animation-name: fadeInLeft;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.active .slider_content h1 {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.active .slider_content a {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

.slider_content p {
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  color: #242424;
  margin-bottom: 11px;
  text-transform: capitalize;
}

.slider_content p.slider_price {
  color: #ffffff;
  font-size: 18px;
}

.slider_content p.slider_price span {
  font-size: 22px;
  font-weight: 500;
  margin-left: 8px;
  color: #a8741a;
}

.slider_content h1 {
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  color: #212121;
  margin-bottom: 30px;
  text-transform: capitalize;
}

.slider_content a {
  font-weight: 500;
  margin-top: 25px;
  color: #ffffff;
  height: 50px;
  line-height: 50px;
  padding: 0 35px;
}

.slider_content a:hover {
  background: #212121;
}

.button {
  background: #a8741a;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #ffffff;
  display: inline-block;
  height: 45px;
  line-height: 45px;
  padding: 0 22px;
  text-transform: uppercase;
  font-size: 13px;
  border-radius: 5px;
}

/*-----------------End Slider------------------*/
/*-----------------banner Section Start------------------*/
.banner_section {
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 70px;
}

.banner_black {
  border-bottom: 1px solid #2d2d2d;
}

.banner_black .banner_content {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  bottom: 25px;
  top: inherit;
}

.banner_black .banner_content p {
  color: #ffffff;
  margin-bottom: 10px;
}

.banner_black .banner_content h2 {
  color: #a8741a;
  font-weight: 400;
  font-family: "Baloo 2",serif;
}

.banner_black .banner_content span {
  color: #ffffff;
}

.banner_black .banner_black .banner_thumb:hover .banner_content {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media only screen and (main-width: 992px) and (max-width: 1199px) {
  .banner_black .banner_content h2 {
    font-size: 21px;
    line-height: 23px;
    margin-bottom: 13px;
  }
}

.banner_thumb {
  position: relative;
  overflow: hidden;
}

.banner_thumb::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.11);
  top: 0;
  left: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  pointer-events: none;
  z-index: 1;
}

.banner_thumb img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.banner_thumb:hover::before {
  opacity: 1;
}

.banner_thumb:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.banner_black .banner_thumb:hover .banner_content {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.banner_content {
  position: absolute;
  top: 25px;
  left: 25px;
}

.banner_content p {
  color: #242424;
  margin-bottom: 0;
}

.banner_content h2 {
  color: #242424;
  font-size: 24px;
  font-weight: 700;
  line-height: 27px;
  margin-bottom: 15px;
}

.banner_content span {
  color: #242424;
}

/*-----------------banner Section End------------------*/
/*-----------------product Section Start------------------*/
.product_section {
  margin-bottom: 34px;
}

.product_black_section .product_tab_Button ul.nav {
  border: 2px solid #2d2d2d;
}

.product_black_section .product_tab_Button ul.nav::before {
  background-image: -webkit-gradient(linear, left top, right top, from(transparent), to(#2d2d2d));
  background-image: linear-gradient(to right, transparent, #2d2d2d);
}

.product_black_section .product_tab_Button ul.nav::after {
  background-image: -webkit-gradient(linear, left top, right top, from(#2d2d2d), to(transparent));
  background-image: linear-gradient(to right, #2d2d2d, transparent);
}

.product_black_section .product_tab_Button ul.nav li:first-child a {
  border-left: 0;
}

.product_black_section .product_tab_Button ul.nav li a {
  border-left: 2px solid #2d2d2d;
  color: #ffffff;
  font-family: "Baloo 2", serif;
}

.product_black_section .product_tab_Button ul.nav li a:hover {
  color: #a8741a;
}

.product_black_section .product_tab_Button ul.nav li a.active {
  color: #a8741a;
}

.product_black_section .product_tab_Button ul.nav li a.active::before {
  border: 2px solid #a8741a;
}

.product_tab_Button {
  margin-bottom: 35px;
  text-align: center;
}

.product_tab_Button ul {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  border: 2px solid #ebebeb;
}

.product_tab_Button ul.nav {
  display: inline-block;
  position: relative;
  border: 2px solid #2d2d2d;
}

.product_tab_Button ul.nav::before {
  content: "";
  width: 200px;
  height: 2px;
  position: absolute;
  right: 100%;
  top: 50%;
  background-image: -webkit-gradient(linear, left top, right top, from(transparent), to(#2d2d2d));
  background-image: linear-gradient(to right, transparent, #2d2d2d);
}

.product_tab_Button ul.nav::after {
  content: "";
  width: 200px;
  height: 2px;
  position: absolute;
  left: 100%;
  top: 50%;
  background-image: -webkit-gradient(linear, left top, right top, from(transparent), to(#2d2d2d));
  background-image: linear-gradient(to right, transparent, #2d2d2d);
}

.product_tab_Button ul li {
  display: inline-block;
}

.product_tab_Button ul li:first-child a {
  border-left: 0;
}

.product_tab_Button ul li a {
  font-size: 20px;
  color: #242424;
  line-height: 48px;
  display: inline-block;
  font-weight: 700;
  text-transform: capitalize;
  font-family: "Ballo 2",serif;
  border-left: 2px solid #ebebeb;
  padding: 0 30px;
  border-radius: 2px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.product_tab_Button ul li a:hover {
  color: #a8741a;
}

.product_tab_Button ul li a.active {
  color: #a8741a;
  position: relative;
}

.product_tab_Button ul li a.active::before {
  position: absolute;
  content: "";
  width: 104%;
  height: 109%;
  border: 2px solid #a8741a;
  top: -2px;
  left: -2px;
  border-radius: 2px;
}

.tab-content {
  padding-top: 20px;
}

.tab-content > .tab-pane.active {
  display: block;
  height: auto;
  opacity: 1;
  overflow: visible;
}

.tab-content > .tab-pane {
  display: block;
  height: 0;
  opacity: 0;
  overflow: hidden;
}

.product_container .custom-col-5 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  padding: 0px 6px;
}

.custom-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -6px;
  margin-right: -6px;
}

.single_product {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-bottom: 30px;
}

.single_product:hover {
  background: #ffffff;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
}

.single_product:hover .product_hover {
  top: 66%;
  opacity: 1;
  visibility: visible;
}

.single_product:hover .product_tumb a.secondry_img {
  opacity: 1;
  visibility: visible;
}

.product_black_section .single_product {
  padding: 15px 17px;
}

.product_black_section .single_product:hover {
  background: #242424;
}

.product_tumb {
  position: relative;
  margin-bottom: 8px;
}

.product_tumb a.secondry_img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.single_product:hover .quick_button {
  opacity: 1;
  visibility: visible;
}

.quick_button {
  position: absolute;
  bottom: 15px;
  left: 15px;
  right: 15px;
  border-radius: 3px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.quick_button a {
  line-height: 45px;
  background: #3e3e3e;
  color: #ffffff;
  padding: 0 10px;
  font-weight: normal;
  border-radius: 2px;
  font-size: 13px;
  text-transform: capitalize;
  width: 100%;
  text-align: center;
  display: block;
}

.quick_button a:hover {
  background: #a8741a;
}

.product_black_section .quick_button a {
  font-family: "Baloo 2",serif;
  font-size: 14px;
}

.product_black_section .quick_button a:hover {
  background: #a8741a;
}

.product_content {
  text-align: center;
  position: relative;
}

.product_content h3 {
  line-height: 22px;
  font-size: 15px;
  font-weight: 700;
  text-transform: capitalize;
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 13px;
}

.product_content h3::before {
  background-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(30%, #2d2d2d), to(transparent));
  background-image: linear-gradient(to right, transparent, #2d2d2d 30% 85%, transparent);
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.product_content h3 a {
  color: #ffffff;
}

.product_content h3 a:hover {
  color: #a8741a;
}

.product_black_section .product_content h3 {
  font-family: "Poppins" , 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.tag_cate {
  margin-bottom: 10px;
}

.product_black_section .tag_cate a {
  color: #a0a0a0;
  font-size: 13px;
}

.product_black_section .tag_cate a:hover {
  color: #a8741a;
}

.pric_box > span.old_price {
  color: #454545;
  font-size: 14px;
  margin-right: 5px;
  text-decoration: line-through;
  font-weight: 400;
}

.product_hover {
  position: absolute;
  top: 50%;
  z-index: 9;
  left: 0;
  background: #fff;
  padding: 3px 8px 20px 8px;
  -webkit-box-shadow: 0px 6px 7px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0px 6px 7px 0 rgba(0, 0, 0, 0.3);
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  opacity: 0;
  visibility: hidden;
}

.single_product:hover .product_hover {
  top: 66%;
  opacity: 1;
  visibility: visible;
}

.product_black_section .product_hover {
  background: #242424;
  left: -17px;
  width: 117%;
}

.product_ratings {
  margin-bottom: 6px;
}

.product_ratings ul li {
  display: inline-block;
}

.product_ratings ul li a {
  color: #a8741a;
}

.product-desc {
  margin-bottom: 15px;
  position: relative;
  padding-bottom: 14px;
}

.product-desc::before {
  background-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(30%, #242424), to(transparent));
  background-image: linear-gradient(to right, transparent, #242424 30% 85%, transparent);
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.product-desc p {
  font-size: 13px;
  line-height: 18px;
  color: #a0a0a0;
}

.action_links ul li {
  display: inline-block;
}

.action_links ul li.add_to_cart a {
  line-height: 35px;
  padding: 0 18px;
  width: 100%;
  text-transform: capitalize;
  font-size: 12px;
}

.action_links ul li a {
  line-height: 37px;
  height: 35px;
  width: 35px;
  background: #242424;
  color: #ccc;
  display: block;
  text-align: center;
}

.action_links ul li a:hover {
  color: #fff;
  background: #a8741a;
}

.product_black_section .action_links ul li.add_to_cart a {
  font-family: "Trebuchet MS",sans-serif;
}

.product_container button {
  display: none !important;
}

/* add this from last part  */
.p_section1 .slick-list {
  padding-bottom: 135px !important;
  margin-bottom: -135px;
  z-index: 9;
  padding-top: 18px !important;
  margin-top: -30px;
  position: relative;
}

.p_bottom.p_section1 .slick-list {
  padding-bottom: 120px !important;
  margin-bottom: -120px;
}

/* till here */
/*-----------------product Section End------------------*/
/*-----------------banner Section start------------------*/
.banner_fullwidth {
  background: url(../images/banner/banner2222.jpg);
  margin-bottom: 64px;
}

.banner_fullwidth .row {
  height: 510px;
}

.black_fullwidth .banner_text:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.black_fullwidth .banner_text p {
  color: #a8741a;
}

.black_fullwidth .banner_text h2 {
  color: #ffffff;
  font-family: serif;
  font-weight: 400;
}

.black_fullwidth .banner_text span {
  color: #a0a0a0;
}

.black_fullwidth .banner_text a {
  color: #a8741a;
  border: 2px solid #a8741a;
}

.black_fullwidth .banner_text a:hover {
  color: #ffffff;
  background: #a8741a;
}

.banner_text {
  text-align: center;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.banner_text p {
  font-size: 16px;
  margin: 0;
}

.banner_text h2 {
  font-size: 50px;
  text-transform: capitalize;
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 65px;
}

.banner_text > span {
  font-size: 16px;
  margin: 0;
  display: block;
}

.banner_text a {
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  color: #a8741a;
  border: 2px solid #a8741a;
  padding: 0 45px;
  border-radius: 3px;
  margin-top: 70px;
  line-height: 46px;
  display: inline-block;
}

/*-----------------banner Section End------------------*/
/*-----------------product Section start------------------*/
.product_container.bottom button {
  display: block !important;
  position: absolute;
  top: -60px;
  right: 30px;
  z-index: 99;
  border: 0;
  background: inherit;
  font-size: 15px;
  background: transparent;
}

.product_container.bottom button:hover {
  color: #a8741a;
}

.product_container.bottom button.next_arrow {
  right: 13px;
}

.product_black_section.bottom {
  border-bottom: 1px solid #2d2d2d;
  padding-bottom: 34px;
  margin-bottom: 80px;
}

.section_title {
  margin-bottom: 33px;
  position: relative;
}

.section_title::before {
  content: "";
  height: 2px;
  background: #2d2d2d;
  position: absolute;
  left: 0;
  right: 15px;
  top: 50%;
}

.section_title h2 {
  margin-bottom: 0;
  position: relative;
  display: inline-block;
  line-height: 30px;
  text-transform: capitalize;
  padding-right: 20px;
  background: #242424;
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
}

/*-----------------product Section End------------------*/
.blog_section {
  padding-bottom: 62PX;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 62px;
}

.blog_section .section_title {
  margin-bottom: 30px;
}

.blog_black {
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: 64px;
  position: relative;
  z-index: 9;
}

.blog_black .section_title::before {
  background: #2d2d2d;
}

.blog_black .section_title h2 {
  color: #ffffff;
  background: #2d2d2d;
  font-weight: 400;
}

.blog_black .blog_wrapper .owl-nav {
  background: #2d2d2d;
}

.blog_black .blog_wrapper .owl-nav div {
  color: #a0a0a0;
}

.blog_black .blog_wrapper .owl-nav div:hover {
  color: #a8741a;
}

.blog_content {
  text-align: left;
}

.blog_content h3 {
  font-size: 18px;
  text-transform: capitalize;
  line-height: 21px;
  position: relative;
  margin-top: 0;
  margin-bottom: 13px;
  font-weight: 700;
}

.blog_content h3 a {
  color: #ffffff;
  letter-spacing: 1px;
  font-family: "Poppins",serif !important;
  font-weight: 500;
}

.blog_content h3 a:hover {
  color: #a8741a;
}

.blog_content .read_more a {
  color: #a0a0a0;
}

.blog_content .read_more a:hover {
  color: #a8741a;
}

.author_name p {
  color: #ffffff;
}

.author_name p span.themes {
  color: #a8741a;
}

.post_desc p {
  color: #a0a0a0;
  font-size: 13px;
}

.blog_wrapper .col-lg-4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  width: 100%;
}

.blog_wrapper .owl-nav {
  position: absolute;
  top: -55px;
  right: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: transparent;
  padding: 0 10px;
  font-size: 18px;
}

.blog_wrapper .owl-nav div.owl-next {
  margin-left: 8px;
}

.blog_thumb {
  position: relative;
  margin-bottom: 20px;
}

.blog_thumb a {
  display: block;
}

.blog_thumb::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(34, 34, 34, 0.7);
  top: 0;
  left: 0;
  -webkit-transition: 0.3S;
  transition: 0.3S;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.blog_thumb:hover::before {
  opacity: 1;
  visibility: visible;
}

.author_name {
  margin-bottom: 10px;
}

.author_name P {
  font-size: 13px;
  text-transform: capitalize;
  color: #a7a7a7;
}

.author_name P span.themes {
  color: #a8741a;
}

.author_name P span.post_by {
  color: #d6a6a6;
}

.post_desc {
  margin-bottom: 12px;
}

.post_desc p {
  line-height: 26px;
  color: #a0a0a0;
}

.blog_content p.post_desc {
  color: #5a5a5a;
  line-height: 25px;
  margin-bottom: 21px;
}

.blog_column3 i {
  font-size: 17px;
  padding: 0 5px;
}

.blog_column3 .ion-chevron-left:hover {
  color: #a8741a;
}

.blog_column3 .ion-chevron-right:hover {
  color: #a8741a;
}

/* ********** instagram ********* */
.instagram_item {
  height: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 1;
}

.instagram_item:hover::after {
  opacity: 1;
}

.instagram_item:hover .instagram_text {
  opacity: 1;
  visibility: visible;
}

.instagram_item::after {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(212, 28, 74, 0.719);
  content: "";
  opacity: 0;
  z-index: -1;
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s;
}

.instagram_text {
  text-align: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all, 0.3s;
  transition: all, 0.3s;
}

.instagram_text i {
  font-size: 30px;
  color: #0d0d0d;
}

.instagram_text a {
  font-size: 16px;
  color: #0d0d0d;
  font-weight: 500;
  display: block;
  margin-top: 10px;
}

/* ***********************subscribe *********** */
.newsletter_area {
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 70px;
  margin-bottom: 65px;
}

.newsletter_black {
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: 70px;
}

.newsletter_black h2 {
  color: #ffffff;
  font-family: serif;
  font-weight: 700;
  font-size: 35px;
  letter-spacing: 2px;
  line-height: 32px;
}

.newsletter_black p {
  color: #a0a0a0;
  line-height: 26px;
  margin-bottom: 37px;
}

.newsletter_black .newsletter_content form {
  width: inherit;
  position: unset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 600px;
  position: relative;
  margin: 0 auto;
  margin-bottom: 20px;
}

.newsletter_black .newsletter_content form input {
  width: 100%;
  border: 2px solid #2d2d2d;
  font-size: 12px;
  color: #fff;
  padding: 0 20px;
  border-radius: 4px;
  padding: 10px 224px 10px 20px;
  background: none;
}

.newsletter_black .newsletter_content form button {
  position: absolute;
  font-family: "Poppins", serif;
  content: "";
  right: 0;
  top: 0;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  padding: 0 60px;
  background: #a8741a;
  color: #fff;
  height: 100%;
  border: 0;
  border-radius: 4px;
  text-transform: capitalize;
}

.newsletter_black .newsletter_content form button:hover {
  color: #000;
}

.newsletter_content {
  text-align: center;
}

/* ****************banner section ************** */
.banner_section_five {
  border-bottom: 0;
  padding: 25px;
}

.banner_section_five .row {
  margin-right: 0;
  margin-left: 0;
}

.port-box {
  background-color: #1f1f1f;
  overflow: hidden;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 13px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 13px rgba(0, 0, 0, 0.3);
  position: relative;
}

.port-box:hover .text-overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.port-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.text-overlay {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #3b3f3f;
  opacity: 0.8;
  display: none;
}

.text-overlay h1,
.text-overlay p {
  color: whitesmoke;
}

.text-overlay h1 {
  font-size: 2.2rem;
  margin: 0;
  padding: 0;
  letter-spacing: 2px;
}

.text-overlay p {
  font-size: 1.2rem;
  margin: 0;
}

/* ****************End banner section ************** */
/* footer section */
.footer_black {
  border-top: 1px solid #2d2d2d;
  padding-top: 67px;
}

.footer_top {
  padding-bottom: 61px;
}

.footer_black .widgets_container > h3 {
  color: #fff;
  font-family: serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 26px;
  text-transform: capitalize;
  margin-bottom: 24px;
}

.footer_contact p {
  margin-bottom: 0;
  line-height: 30px;
  color: #a0a0a0;
}

.footer_contact p a:hover {
  color: #a8741a;
}

.footer_contact ul {
  margin-top: 10px;
}

.footer_contact ul li {
  display: inline-block;
  margin-right: 7px;
}

.footer_contact ul li:last-child {
  margin-right: 0;
}

.footer_contact ul li a {
  color: #fff;
  font-size: 18px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border: 0;
  background: #2f2f2f;
  text-align: center;
  border-radius: 50%;
  display: block;
}

.footer_contact ul li a:hover {
  background: #a8741a;
}

.footer_menu ul li a {
  display: block;
  font-weight: 400;
  line-height: 30px;
  font-size: 14px;
  color: #a0a0a0;
}

.footer_menu ul li a:hover {
  color: #a8741a;
}

/* ***************** */
.simple_product_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid 2d2d2d;
}

.simple_product_items:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: 0;
}

.simple_product_thumb {
  width: 22%;
}

.simple_product_content {
  width: 70%;
  margin-left: 17px;
}

.simple_product_content .tag_cate {
  margin-bottom: 0;
}

.simple_product_content .product_name h3 {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 10px;
}

.simple_product_content .product_name h3 a {
  color: #fff;
  font-size: 23px;
}

.simple_product_content .product_name h3 a:hover {
  color: #a8741a;
}

.simple_product_content .product_price span {
  color: #5a5a5a;
  font-size: 14px;
  font-weight: 400;
}

.simple_product_content .product_price span.old_price {
  text-decoration: line-through;
  padding-right: 8px;
}

.simple_product_content .product_price span.current_price {
  color: #a8741a;
  font-weight: 500;
}

/* *********footer bottom ******* */
.footer_bottom {
  padding: 38px 0 46px;
}

.copyright_area {
  text-align: center;
}

.copyright_area p {
  text-transform: capitalize;
  line-height: 26px;
  color: #a0a0a0;
}

.copyright_area p a {
  color: #a8741a;
}

.copyright_area p a:hover {
  text-decoration: underline;
}

/* ***************modal section ************* */
.modal-dialog.modal-dialog-centered {
  min-width: 870px;
}

.modal_tab_img {
  text-align: center;
  margin-bottom: 10px;
}

.modal_tab_img img {
  margin: 0 auto;
}

.modal_tab_button ul li a {
  padding: 0;
  border: 1px solid #ebebeb;
  margin: 0 2px;
}

.modal_tab_button ul li a img {
  width: 100%;
}

.modal_title h2 {
  font-size: 24px;
  text-transform: capitalize;
  font-weight: 600;
  margin-bottom: 17px;
  color: #242424;
  line-height: 26px;
}

.see_all {
  margin-bottom: 27px;
}

.see_all a {
  color: #5a5a5a;
  text-decoration: underline;
}

.see_all a:hover {
  color: #a8741a;
}

.modal_social h2 {
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 600;
  margin-bottom: 15px;
  color: #242424;
  line-height: 20px;
}

.modal_social ul li {
  display: inline-block;
  margin-right: 3px;
}

.modal_social ul li a {
  text-transform: uppercase;
  display: inline-block;
  border: 1px solid #ddd;
  width: 38px;
  height: 38px;
  text-align: center;
  line-height: 36px;
  border-radius: 50%;
  font-size: 15px;
  color: #212121;
  font-weight: 400;
}

.modal_social ul li a:hover {
  background: #a8741a;
  color: #fff;
  border-color: #a8741a;
}

.modal_price {
  margin-bottom: 16px;
}

.modal_price span {
  font-weight: 600;
  color: #a8741a;
  font-size: 16px;
}

.modal_price span.old_price {
  color: #5a5a5a;
  font-size: 14px;
  font-weight: 400;
  text-decoration: line-through;
  margin-left: 5px;
}

.modal_description p {
  color: #5a5a5a;
  font-size: 15px;
  line-height: 24px;
  margin: 0;
}

.modal_description.mb-15 {
  margin-bottom: 25px;
  border-bottom: 1px solid ebebeb;
  padding-bottom: 23px;
}

.modal_add_to_cart {
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 30px;
}

.modal_add_to_cart form input {
  width: 80px;
  border: 1px solid #ebebeb;
  background: none;
  padding: 0 17px;
  border-radius: 5px;
  height: 40px;
}

.modal_add_to_cart form button {
  background: none;
  border: 1px solid #212121;
  margin-left: 10px;
  font-size: 12px;
  font-weight: 700;
  height: 38px;
  line-height: 18px;
  padding: 10px 15px;
  text-transform: uppercase;
  background: #212121;
  color: #fff;
  border-radius: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.modal_add_to_cart form button:hover {
  background: #a8741a;
  color: #fff;
  border-color: #a8741a;
}

.modal_add_to_cart.mb-15 {
  margin-bottom: 23px;
}

.modal_body {
  padding: 0 6px 38px;
}

.modal-content button.close {
  position: relative;
  left: 94%;
  width: 30px;
  height: 30px;
  display: block;
  border: 1px solid #ebebeb;
  top: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  z-index: 9;
}

.product_navactive.owl-carousel:hover .owl-nav div {
  opacity: 1;
  visibility: visible;
}

.product_navactive.owl-carousel .owl-nav {
  display: block;
}

.product_navactive.owl-carousel .owl-nav div {
  position: absolute;
  background: #f2f2f2;
  border-radius: 3px;
  color: #333;
  height: 32px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 32px;
  text-align: center;
  line-height: 32px;
  left: -7px;
  font-size: 18px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
}

.product_navactive.owl-carousel .owl-nav divhover {
  background: #a8741a;
  color: #fff;
}

.product_navactive.owl-carousel .owl-nav divhover.owl-next {
  right: -7px;
  left: auto;
}

.arrow-left {
  position: absolute;
  top: 29px;
  left: -9px;
  font-size: 20px;
  height: 25px;
  width: 21px;
  color: black;
  padding: 2px;
  border-radius: 6px;
  padding-right: 3px;
}

.arrow-right {
  position: absolute;
  top: 27px;
  right: -12px;
  font-size: 20px;
  height: 25px;
  width: 24px;
  color: black;
  padding: 2px;
  border-radius: 6px;
  padding-left: 5px;
}

.arrow-left:hover,
.arrow-right:hover {
  background: #a8741a;
  color: #fff;
}
/*# sourceMappingURL=main.css.map */